<ion-header>
  <ion-toolbar>
    <ion-title>Offers</ion-title>
  </ion-toolbar>
</ion-header>

<div id="container">
  <ion-content>
    <ion-tab-bar>
    <ion-tabs>
        <ion-tab-button tab="new">
          <ion-label>New</ion-label>
          <ion-icon name="new"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="edit">
          <ion-label>Edit</ion-label>
          <ion-icon name="edit"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="bookings">
          <ion-label>Bookings</ion-label>
          <ion-icon name="list"></ion-icon>
        </ion-tab-button>
    </ion-tabs>
    </ion-tab-bar>
  </ion-content>
</div>
